
html{
    color: #9BA2FF;
    margin: 5%;
}
body{
    background-color: #25283D ;

}
h1{
    color: #4D9DE0
}
a{
    color: #4D9DE0
}
strong{
    color: #F3B700
}
.centralizado{
    text-align:center;
}
.foto{
    width: 50%;
    height: 50%;
    margin-left: 39%;
}
.textocentro{
    text-align: center;
}